In [2]:
import pandas as pd

In [3]:
monthlykit = {
    'fruits' : ['apple','mango','grapes','orange','custurd apple'],
    'vegetables' : ['tomato','potato','carrot','ladies fingers','banana']
}
df = pd.DataFrame(monthlykit)
df

          fruits      vegetables
0          apple          tomato
1          mango          potato
2         grapes          carrot
3         orange  ladies fingers
4  custurd apple          banana

In [4]:
df.head(1)

  fruits vegetables
0  apple     tomato

In [5]:
df.tail(1)

          fruits vegetables
4  custurd apple     banana

In [6]:
df.describe

<bound method NDFrame.describe of           fruits      vegetables
0          apple          tomato
1          mango          potato
2         grapes          carrot
3         orange  ladies fingers
4  custurd apple          banana>

In [7]:
df.shape

(5, 2)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fruits      5 non-null      object
 1   vegetables  5 non-null      object
dtypes: object(2)
memory usage: 212.0+ bytes

In [9]:
df.columns

Index(['fruits', 'vegetables'], dtype='object')

In [10]:
df['dry fruits'] = ['almonds','chashew','buterscotch', 'apricot','monard']
df.to_csv('test fruit.csv')

In [11]:
df.rename(columns= {'vegetables':'Vegetables'}, inplace = True)
df

          fruits      Vegetables   dry fruits
0          apple          tomato      almonds
1          mango          potato      chashew
2         grapes          carrot  buterscotch
3         orange  ladies fingers      apricot
4  custurd apple          banana       monard

In [12]:
df.keys()
df.values

array([['apple', 'tomato', 'almonds'],
       ['mango', 'potato', 'chashew'],
       ['grapes', 'carrot', 'buterscotch'],
       ['orange', 'ladies fingers', 'apricot'],
       ['custurd apple', 'banana', 'monard']], dtype=object)

In [13]:
df = pd.read_csv('test.csv')
df.loc[0,'a'] = 11
df.loc[0,'a']
df.iloc[0,2]
print(df.iloc[0,2])
df

1

    a  b  c
0  11  1  1
1   2  2  2
2   3  3  3
3   4  4  4
4   5  5  5
5   6  6  6