In [1]:
import pandas as pd

In [4]:
l = [1,2,3,4,5,6]
a = pd.DataFrame(l)
a

   0
0  1
1  2
2  3
3  4
4  5
5  6

selection of the columns based on the requirement

In [7]:
dict = {
    'a': [1,2,3,4,5,6,7],
    'b': [9,8,7,6,5,4,3],
    'c': [7,5,3,2,1,4,5],
    'd': [8,8,8,8,8,8,8]
}
b = pd.DataFrame(dict, columns= ['a','d'])
b

   a  d
0  1  8
1  2  8
2  3  8
3  4  8
4  5  8
5  6  8
6  7  8

In [16]:
lis = {'a': [100,200,300,400,500],'b': [600,700,800,900,110]}
lis1 = [[100,200,300,400,500], [600,700,800,900,110]]
c = pd.DataFrame(lis)
c

     a    b
0  100  600
1  200  700
2  300  800
3  400  900
4  500  110