In [1]:
import pandas as pd

DROPPING FUNCTION

In [2]:
df = pd.read_csv('testing.csv')
df.dropna(subset= 'a')

     a    b     c
1  2.0  7.0  12.0
2  3.0  NaN  13.0

FILLING FUNCTION

In [3]:
df.fillna({'a': 'abdul', 'b':0, 'c':'python'})

       a     b       c
0  abdul   6.0  python
1    2.0   7.0    12.0
2    3.0   0.0    13.0
3  abdul  10.0    15.0

In [4]:
df.fillna( method= 'ffill')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_10556\2115018269.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna( method= 'ffill')

     a     b     c
0  NaN   6.0   NaN
1  2.0   7.0  12.0
2  3.0   7.0  13.0
3  3.0  10.0  15.0