In [1]:
import pandas as pd

MERGING TWO DIFFERENT DATASETS

In [2]:
dict1 = {
    'a':[1,2,3,4,5],
    'b':[6,7,8,9,10],
}

dict2 = {
    'a':[1,2,3,4,5],
    "c" : [21,22,23,24,25]
}

df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
print(df1)
print(df2)

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10
   a   c
0  1  21
1  2  22
2  3  23
3  4  24
4  5  25

In [3]:
pd.merge(df1, df2, on = 'a')

   a   b   c
0  1   6  21
1  2   7  22
2  3   8  23
3  4   9  24
4  5  10  25

CONCATING THE DATASETS

In [4]:
# dict1 = {
#     'a':[1,2,3,4,5],
#     'b':[6,7,8,9,10],
# }

# dict2 = {
#     'a':[1,2,3,4,5],
#     "c" : [21,22,23,24,25]
# }
# df1 = pd.DataFrame(dict1)
# df2 = pd.DataFrame(dict2)

In [5]:
pd.concat([df1, df2], axis= 1, keys= ['inner', 'outer'])

  inner     outer
      a   b     a   c
0     1   6     1  21
1     2   7     2  22
2     3   8     3  23
3     4   9     4  24
4     5  10     5  25