In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('testing.csv')
df

     a     b     c
0  NaN   6.0   NaN
1  2.0   7.0  12.0
2  3.0   NaN  13.0
3  NaN  10.0  15.0

In [19]:
df.interpolate()

     a     b     c
0  0.0   6.0   0.0
1  2.0   7.0  12.0
2  3.0   0.0  13.0
3  0.0  10.0  15.0